.cabecalho{
    background-color: aquamarine;
}
.cabecalho_menu{
    background-color: azure;
}
.cabecalho_menu_logo{
    background-color: bisque;
}
.cabecalho_menu_navegacao{
    background-color: black;
}