*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.cabecalho{
    background-color: darkgray;
    height: 10vh;
}
.conteudo{
    background-color: lavender;
    height: 75vh;
}
.conteudo_titulo{
    font-size: 22px;
    border-bottom: solid;
    width: 100%;
    text-align: center;
}
.rodape{
    background-color: darkgray;
    height: 15vh;
}
.menu{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu_navegacao a{
    margin: 0 1em;
    text-decoration: none;
    color: black;
}
.menu_logo img{
    display: inherit;
    width: 10vh;
}
.cadastro{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.cadastro_campos{ 
    display: flex;
    flex-direction: column;
}
.cadastro_campos label{
    display: block;
    margin: 1em 0 0 0;
    font-weight: bold;
    font-size: 1em;
 }
 .cadastro_campos input{
    padding: 5px 0;
    border-radius: 10px;
    border: solid;
 }
 .cadastro_campos textarea{
    border-radius: 10px;
    border: solid;
 }
.cadastro_funcoes{
    margin: 1em;
}
.cadastro_funcoes button{
    margin: 0 1em;
    padding: 5px;
    border-radius: 5px;
    border: white solid;
    background-color: black;
    color: white;
}
.cadastro_funcoes button:hover{
   cursor: pointer;
   color: royalblue;
}
.contato{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contato figcaption{
   display: inline-block;
   vertical-align: top;
   margin: calc((34px - 18px)/2);
}
.produto{
   height: 75vh;
   background-color: lavender;
   display: flex;
    flex-direction: column;
    row-gap: 1em;
    margin: 3em 0;
}
.produto_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgray;
    border: solid;
}
.produto_item img{
    display: inline-block;
    width: 10vh;
}